<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent direct access to sensitive files and directories
    RewriteRule ^\.env - [F,L,NC]
    RewriteRule ^\.(git|svn) - [F,L,NC]
    RewriteRule ^(app|bootstrap|config|database|docs|resources|routes|storage|tests|vendor)(/.*)?$ - [F,L,NC]

    # Forward all other requests to the public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
